body{
    overflow: hidden;
    background: wheat;
    width: 100%;
    height: 100vh;
}
.modal{
    color: white;
    background-color: skyblue;
    width: 80%;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    height: auto;
    border: 1px solid white;
    box-shadow: 3px 3px 3px 5px gray;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    transform: translate(50%,50%);
    z-index: 1;
}

.modal a{
    padding: .5rem;
    text-decoration: none;
    color: black;
    border: 1px solid white;
    border-radius: 10px;
}

.modal a:hover{
    background: white;
    color: skyblue;
}

.hidden{
    display: none !important;
}